body {
    margin:0;
    padding:0;
}

.section {
    min-height: 620px;
}

.bg1 {
    background-color: aliceblue;
}

.bg2 {
    background-color: bisque;
}

.bg3 {
    background-color: cadetblue;
}
